.container-fluid {
	padding-right: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background-color: rgba(255,255,255,0.85);
	border-radius: 3px;
	box-shadow: 0 3px 14px rgba(0,0,0,0.15);
	width: 375px;
	max-height: none !important;
}

.leaflet-popup-content {
	font-size: larger;
	line-height: 1.6;
}

.leaflet-popup-content > img {
	max-height: none !important;
	width: 330px;
}

.well {
  min-height: 800px;
  padding: 20px;
  margin-top: -20px;
  margin-bottom: -20px;
  background-color: rgba(0,85,150,0.8);
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,85,150,.05);
  box-shadow: none;
  color: white;
}